.convertion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.convertion-screen {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid orange; */
}

.convertion-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 1em;
    padding-top: 3vh;
}

.sub-actions {
    width: 20%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
}

.convertion-state {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid orange; */
    padding-top: 3vh;
}

.convertion-input-container {
    width: 100%;
    height: auto;
    /* border: 2px transparent;
    padding: 1em; */
    background-color: transparent;
    margin-top: 3vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.input-subcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.convertion-input-title {
    width: 25%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.6em;
    color: #ffffff;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 1px transparent;
    font-size: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.convertion-input-content {
    width: 25%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.6em;
    color: #ffffff;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: 1px transparent;
    font-size: 20px;
    padding: 1vw;
}

.convertion-description {
    color: #ffffff;
    font-size: 20px;
}

.upload-button {
    color: white;
    width: 26.5%;
    height: 55vh;
    background-color: rgb(78, 78, 78);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.newPostButton {
    float: right;
    color: #ffffff;
    width: 5vw;
    height: 5vh;
    line-height: 4.5vh;
    background-color: rgb(78, 78, 78);
    margin-right: 19px;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.newPostButton:hover {
    background-color: #ffffff;
    color: #000000;
}

.spinning {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
