.post {
    margin: 10px;
    min-width: 60vw;
    min-height: 50vh;
    border: 2px transparent;
    padding: 1em;
    border-radius: 0.6em;
    background-color: rgba(0, 0, 0, 0.4);
}

.post-title {
    text-align: center;
    font-size: calc(15px + 2vmin);
    margin-bottom: 10px;
    color: #ffffff;
}

.post-main {
    margin-top: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.post-img {
    /* width: 50vw;
    height: 55vh; */
    width: 40%;
    height: 40%;
}

.post-text {
    margin-left: 2vw;
    color: #ffffff;
}